body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(248, 206, 151, 0.452);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(160, 157, 157, 0.472);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  height: 100%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgba(160, 157, 157, 0.472);
  color: #000000;
  border-top: 1px dashed #000000;
  height: 100%;
}

.past {
  background-color: #f5dadab9;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  height: 100%;
  font-size: 22px;
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
}
.saveBtn:hover {
  font-size: 26px;
  transition: all 0.3s ease-in-out;
}
